 * {
     margin: 0;
     padding: 0;
     font-family: poppins;
 }

 nav {
     width: 100%;
     height: 80px;
     display: flex;
     align-items: center;
     background-color: rgb(189, 165, 57);
 }

 .navbutton {
     width: 48px;
     height: 32px;
     background-color: rgb(14, 190, 225);
     color: white;
     border: none;
 }

 .navbutton:hover {
     background-color: antiquewhite;
     color: black;
 }

 .servicebtn {
     background-color: transparent;
     color: #ffffff;
     border: 2px solid white;
     border-radius: 4px;

 }

 .servicebtn:hover {
     background-color: rgb(14, 190, 225);
     color: black;
     border: 2px solid black;
 }

 .logo {
     width: 20%;
     display: flex;
     color: white;
 }

 .pawlogo {
     width: 20%;
     margin-left: 60px;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .comname {
     width: 80%;
 }

 .options {
     width: 40%;
 }

 .options ul {
     list-style: none;
     display: flex;
     flex-direction: row;
     /* show in row */
     gap: 40px;
     /* space between items */
     justify-content: space-around;
     padding: 0;
     margin: 0;
 }

 .options ul li a {
     text-decoration: none;
     font-size: 18px;
     color: white;
 }


 .search {
     width: 40%;
     margin-left: 120px;
 }

 input {
     width: 180px;
     height: 30px;
     background-color: rgb(230, 192, 6);
     border: 1px solid rgb(118, 118, 3);
     padding-left: 20px;
 }

 .cont1 {
     padding: 80px 120px;
     display: flex;
     background-color: hsl(46, 100%, 51%);
 }

 .leftcont1 h2 {
     font-size: 45px;
     font-weight: 500;
     color: white;
 }

 .leftct {
     text-align: right;
     font-size: 45px;
     font-weight: 500;
 }

 .leftcont1 p {
     color: rgb(231, 221, 221);
 }

 button {
     width: 120px;
     height: 40px;
     background-color: rgb(14, 190, 225);
     cursor: pointer;
     border-radius: 4px;
 }

 button:hover {
     background-color: white;

 }

 .cont2 {
     padding: 80px 120px;
     display: flex;
     gap: 80px;
 }

 .leftcont2 {
     width: 40%;
 }

 .leftcont2 h2 {
     font-size: 30px;
     font-weight: 600;
 }

 .leftcont2 p {
     font-size: 16px;
     text-align: justify;
 }

 .leftcont3 p {
     margin-right: 50px;
     font-size: 16px;
     text-align: right;
 }

 .leftcont3 h2 {
     margin-right: 50px;

 }

 .servicebtn2 {
     background-color: rgb(244, 201, 10);
     color: white;
     border: none;
     border-radius: 3px;
     margin-left: 75%;
 }

 .servicebtn2:hover {
     color: black;
     border: 2px solid black;
 }

 .rightcont2 img {
     position: relative;
     z-index: 4;
     margin-left: 40px;
 }

 .sq {
     width: 300px;
     height: 300px;
     position: absolute;
     background-color: rgb(244, 201, 10);
     z-index: 2;
     margin-top: 220px;
     margin-right: 450px;
 }

 .sq1 {
     width: 300px;
     height: 300px;
     position: absolute;
     background-color: rgb(244, 201, 10);
     z-index: 2;
     margin-top: 220px;
     margin-left: 280px;
 }

 .cont3 {
     padding: 80px 120px;
     background-color: hsl(46, 100%, 51%);
 }

 .cont3 h1,
 .cont3>p {
     text-align: center;
     color: white;
 }

 .cont3 h3,
 .cont3p {
     color: white;
 }

 .title {
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
     gap: 20px;
 }

 .title div {
     max-width: 300px;
     text-align: center;
 }

 .dogsell {
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
     gap: 20px;
 }

 .dogsell img {
     border: 4px solid rgb(197, 191, 191);
 }

 .dogsell h3 {
     text-align: center;
 }

 .dgbtn {
     border-radius: 20px;
     margin-left: 100px;
 }

 .nurse {
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
     gap: 20px;
 }

 .nurse img {
     width: 300px;
 }

 .nurse p b {
     font-size: 15px;
 }

 .cont6 {
     padding: 80px 120px;
     gap: 60px;
 }

 .cont6 h1,
 .cont6 p {
     text-align: center;
     line-height: 1.8;
 }

 .vetcareteam h1,
 .vetcareteam p {
     text-align: center;
 }

 .nurse p {
     font-size: 12px;
 }

 .cont7 {
     padding: 200px 120px;
     display: flex;
     background-image: url('images/14.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     position: relative;
     overflow: hidden;
 }

 /* Yellow blur overlay */
 .cont7::after {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: hsla(58, 94%, 48%, 0.35);
     /* Yellow with transparency */
     backdrop-filter: blur(9x);
     /* Blur effect */
     -webkit-backdrop-filter: blur(6px);
     z-index: 1;
 }

 /* Make your content appear above overlay */
 .cont7>* {
     position: relative;
     z-index: 2;
 }

 .count {
     color: white;
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
     gap: 40px;
     margin-left: 400px;
 }

 .post {
     padding: 80px 120px;
     gap: 60px;
 }

 .post h2,
 .post p {
     text-align: center;
 }

 .posts {
     gap: 20px;
     display: flex;
 }

 .postimg1 p,
 .postimg2 p,
 .postimg3 p {
     text-align: justify;
 }

 .postimg1,
 .postimg2,
 .postimg3 {
     padding: 20px;
     border: 1px solid gray;
 }

 .postimg1 img,
 .postimg2 img,
 .postimg3 img {
     margin-left: 20px;
 }

 footer {
     padding: 100px;
     display: flex;
     background-color: rgb(44, 41, 41);
     color: white;
     gap: 30px;
 }

 .fleft {
     width: 20%;
 }

 .fmid {
     width: 20%;
 }

 .fright {
     width: 40%;
     text-align: right;
 }

 .fleft ul li {
     list-style-type: none;
     line-height: 1.8;
 }

 .fmid ul li {
     list-style-type: none;
     line-height: 1.8;

 }

 .fleft ul li a,
 .fmid ul li a {
     text-decoration: none;
     color: white;
 }

 .send {
     width: 40px;
     background-color: orange;
 }

 .ftrbtn {
     width: 60px;
     height: 33px;
 }

 /* Hamburger button */
 .menu-btn {
     display: none;
     font-size: 30px;
     color: white;
     cursor: pointer;
     margin-right: 20px;
 }

 /* Responsive rules */

 @media (min-width: 425px) and (max-width: 768px) {

     nav {
         height: auto;
         flex-wrap: wrap;
         padding: 10px 0;
     }

     .options ul {
         position: absolute;
         top: 80px;
         left: 0;
         width: 100%;
         background: rgb(189, 165, 57);
         flex-direction: column;
         text-align: center;
         gap: 20px;
         padding: 20px 0;
         display: none;
         margin-left: 0;
     }

     .options ul.show {
         display: block;
     }

     /* Show hamburger */
     .menu-btn {
         margin-left: 90px;
         display: block;
     }

     /* Hide search bar initially */
     .search {
         display: none;
         width: 100%;
         text-align: center;
         margin: 10px 0;
     }

     /* Show search when menu opens */
     .search.show {
         display: block;
     }

     /* Search input full width */
     input {
         width: 90%;
     }

     .logo {
         width: 60%;
     }

     .pawlogo {
         margin-left: 20px;
     }

     .comname {
         text-align: end;
     }

     .leftcont1 h2 {
         font-size: 40px;
     }

     .leftcont2 {
         padding: 0 10px;
         width: auto;
     }

     .leftcont2 p {
         text-align: center;
     }

     .leftcont2 button {
         margin-left: 130px;
     }

     .leftcont2 h2 {
         font-size: 10px;
         text-align: center;
     }

     .cont1 {
         flex-direction: column;
         padding: 20px;
         text-align: center;

     }

     .cont1 img {
         width: 90%;
         height: auto;
         margin: 20px auto;

     }

     .cont2 {
         flex-direction: column;
         display: block;
         padding: 0px 10px;
         gap: 0;
     }

     .cont2 h2 {
         margin-top: 40px;
         font-size: 20px;
         text-align: center;
     }

     .servicebtn2 {
         margin-left: 140px;
     }

     .cont2 img {
         width: 280px;
         height: auto;
         margin: 30px 0 30px 70px;
     }

     .cont3 {
         padding: 20px;
     }

     .sq1,
     .sq {
         display: none;
     }

     .title img {
         width: 200px;
     }

     .dogsell img {
         margin-left: 50px;
         width: 200px;
     }

     .dgbtn {
         margin-right: 70px;
     }

     .nurse img {
         width: 200px;
     }

     .cont7 {
         padding: 0px 10px;
         /* Reduce padding */
         background-position: center;
         background-size: cover;
     }

     /* Overlay blur lighter on mobile */
     .cont7::after {
         backdrop-filter: blur(4px);
         -webkit-backdrop-filter: blur(4px);
     }

     /* COUNT BOXES WRAPPER */
     .count {
         width: auto;
         margin: 0;
         flex-direction: column;
         /* Stack items vertically */

     }

     /* EACH SMALL BOX */
     .clients,
     .department,
     .vaccount {
         width: auto;
         margin-left: 140px;
     }

     .clients i,
     .department i,
     .vaccount i {
         font-size: 10px;
         /* Bigger icons for mobile */
         margin-bottom: 10px;
     }

     .count p {
         margin: 5px 0;
         font-size: 10px;
         /* Nice readable size */
     }

     .post {
         padding: 10px 20px;
     }

     .post h2 {
         margin-top: 20px;
     }

     .posts {
         flex-direction: column;
         border: none;

     }

     .posts img {
         width: 200px;
         margin-left: 70px;
     }

     .cont6 {
         padding: 0px 10px;
     }

     .cont6 h1 {
         margin-top: 20px;
     }

     footer {
         padding: 20px;
         display: flex;
         background-color: rgb(44, 41, 41);
         color: white;
         gap: 30px;
     }

     .fleft {
         width: 20%;
         font-size: 10px;
     }

     .fmid {
         width: 20%;
         font-size: 10px;

     }

     .fright {
         width: 40%;
         text-align: right;
         font-size: 10px;

     }

     .fleft ul li {
         list-style-type: none;
         line-height: 1.8;
     }

     .fmid ul li {
         list-style-type: none;
         line-height: 1.8;

     }

     .fleft ul li a,
     .fmid ul li a {
         text-decoration: none;
         color: white;
     }

     .send {
         width: 5%;
         background-color: orange;
     }

     .ftrbtn {
         width: 30px;
         height: 33px;
     }
 }


 /* For devices with a minimum width of 992px (Large) */
 @media (min-width: 768px) and (max-width: 1024px) {
     .menu-btn {
         margin-left: 200px;
     }

     .leftcont2 button {
         margin-left: 300px;
     }

     .cont2 img {
         width: 300px;
         margin-left: 230px;
     }

     .servicebtn2 {
         margin-left: 320px;
     }

     .count {
         margin-top: 20px;
         margin-left: 150px;
     }

     .dogsell {
         justify-content: start;
         flex-wrap: nowrap;
         gap: 0;
     }

     .dogsell img {
         width: 160px;
     }

     .dgbtn {
         margin-left: 80px;
         width: 100px;
     }

     .posts img {
         margin-left: 220px;
     }
 }

 @media (max-width: 375px) {
     nav {
         height: auto;
         flex-wrap: wrap;
         padding: 50px 0;
     }


    .cont1 {
        flex-direction: column;
        padding: 15px;
        text-align: center;
    }

    .leftcont1 h2 {
        font-size: 28px;   /* Smaller heading for small phones */
        line-height: 35px;
    }

    .leftcont1 p {
        font-size: 14px;   /* Smaller paragraph */
    }

    button {
        width: 100%;       /* Full width buttons */
        height: 42px;
        margin: 8px 0;
    }

    .rightcont1 img {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }
}


 